---
layout: single
---

{{ content }}
{% assign about = site.pages | where: 'name','about.md' %}
{{ about }}

<form id="fs-frm" name="contact-form" accept-charset="utf-8" action="https://api.web3forms.com/submit" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="First Last" required>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="email@domain.tld" required>
    <label for="message">Message</label>
    <textarea rows="5" name="message" id="message" placeholder="Anything you'd like me to know." required></textarea>
    <input type="hidden" name="subject" id="email-subject" value="Unifying Harmony Contact Form Submission">
    <input type="hidden" name="redirect" value="https://unifyingharmony.org/thanks">
    <input type="hidden" name="access_key" value="3e8169cd-bcbb-4427-882b-2b65b7599db5">
    <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
  </fieldset>
  <div class="h-captcha" data-captcha="true"></div>
  <input type="submit" value="Submit">
</form>

<script src="https://web3forms.com/client/script.js" async defer></script>
<!--h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3-->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
